/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.10.2018, 00:17:26
    Author     : HP
*/

body {
    background-image: url("../images/lineage2background.jpg");
}

h1 {
    text-shadow: 6px 6px black;
    font-weight: bold;
    font-size: 32px;
    color: brown;
    text-align: center;
    margin: 20px;
}

.button {
    
    opacity: 0.9;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 22px;
    background-color: black;
    color: maroon;
    /* box-shadow: 8px 7px 7px #0b0021; */
    box-shadow: 7px 6px 17px rebeccapurple;
    padding: 8px 24px;
    margin: 25px 10px;
    cursor: pointer;
}

.button:active {
    background-color: azure;
}

.button:hover{
    background-color: teal;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

p{
    text-align: center;
    color: whitesmoke;
}

.votebar {
   width: 168px;
   height: 63px;
   padding: 3px 0px;
   border-radius: 21px;
}

.leftBar {
        display: inline-block;
}

.top {
    margin: 30px 30px;
    padding: 10px 20px;
}

iframe {
    border: 2px solid darkmagenta;
}

#titlevideos{
    text-shadow: 3px 3px black;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color:  aqua;
    padding: 0px 0px 13px;
}

footer {
    color: moccasin;
    text-align: center;
    font-size: 18px;
}

.likepage {
    border: 3px solid black;
    font-size: 28px;
    text-align: center;
    background-color: #4d0000;
    color: black;
    border-radius: 12px;
    margin: 40px 10px 10px 0px;
}

.news {
    text-align: center;
    border: 6px solid black;
    border-radius: 40px;
    width: 50%;
    height: 100%;
    margin: auto;
}

.container {
    height: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.fb-page {
    border: 2px solid darkmagenta;
}

.h3 {
    color: white;
    font-style: italic;
}